@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face{
    font-family: 'cordel';
    src: url(fontes/Cordel\ Encarnado.woff) format("woff");


}



*{
    margin: 0;
    padding: 0;
}
html, body{
    min-height: 100%;
    background-color: darkgrey ;
}

header{
    color: white;
    background-color: black;
    text-align: center;
}
header > h1 {
    font-family: 'cordel' , sans-serif;
    padding: 50px;
    font-variant: small-caps;
    font-size: 13vh;
}
header > p{
    padding-bottom: 50px;

}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;



}
a:hover{
    text-decoration: underline;

}

section{
    font-size: 3.5vh;
    font-family: 'sriracha' , sans-serif;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section > p{
    padding-bottom: 2em;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgb(86, 86, 86);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.597);
    background-attachment: fixed;

}

.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.256);
    text-shadow: 1px 1px 1px black;
}
.imagem#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
.imagem#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;



}







footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    

}
